.headerWrapper {
    background: #fbfbfb;
    width: 60%;
    height: 115px;
    margin: 0 20%;
    z-index: 20;
    position: relative;
    left: 0;
    top: 0;
}

.logo {
    padding-top: 12px;
    width: 200px;
}

.logo img {
    width: 260px;
}

.header_info_block {
    display: block;
    overflow: hidden;
    height: 32px;
    vertical-align: middle;
}

.smCntrTitle {
    width: 200px;
    height: 100%;
    float: left;
    display: block;
}

.smCntr {
    height: 100%;
    float: right;
    display: block;
}

#navigation {
    position: absolute;
    width: 30%;
    left: 0;
    overflow: hidden;
}

#navigation li {
    display: inline-block;
    margin-right: 10px;
    font-size:20px;
    background-color: lightgrey;
    padding:10px;
    border-radius:5px;
}

#navigation li:hover{
    background-color: white;
}

#navigation li:last-child {
    margin-right: 0;
}