#player {
    clear: both;
}

#player_with_subsc {
    width: 660px;
    margin: 0 auto;
    overflow: hidden;
}

.playerWrapper {
    padding:10px;
    background-color: #fff; 
    border-radius:10px;
    margin-bottom:30px;
    margin-top:30px;
}

#control_player {
    font-size: 40px;
    clear: both;
    float: right;
}

#control_player i {
    margin: 5px;
    cursor: pointer;
    color: brown;
}

#close_player:hover, #open_player:hover {
    color: slategrey;
}
